th,
td {
    border-right: 1px solid blue;
}
th > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600px;
    border-bottom: 1px solid;
    height: 56px;
}
td > div {
    overflow: unset !important;
    white-space: wrap !important;
}
.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
