.background {
    background-image: url('/images/Group.png');
    background-repeat: no-repeat;
    background-color: white;
    height: 100vh;
    /* background-position: bottom; */
    /* background-position-x: left; */
  /* margin-top: 40px; */
    /* top: 55px; */
    /* width: 100%; */
    /* height: 100%; */
}