.react-datepicker__triangle {
    display: none;
}

.react-datepicker__month-container {
    width: 440px;
}

.react-datepicker__day-names,
.react-datepicker__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.react-datepicker {
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.react-datepicker__day {
    width: 100%;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3a3b3c;
    font-size: 12px;
    border-radius: 0 !important;
    margin: 6px 0 !important;
    transition: all 0.25s;
}

.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range {
    background-color: #f7f7f7 !important;
    transition: all 0.25s;
}

.react-datepicker__inside-day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 9999px;
}

.react-datepicker__day--selected .react-datepicker__inside-day {
    background-color: #3198ff;
    color: white;
    transition: all 0.25s;
}

.react-datepicker__day--keyboard-selected.react-datepicker__day--range-end
    .react-datepicker__inside-day,
.react-datepicker__day--selected.react-datepicker__day--range-start
    .react-datepicker__inside-day {
    background-color: #f2f5f8;
    color: #01559b !important;
}
.react-datepicker__day--range-start .react-datepicker__inside-day {
    background-color: #f2f5f8;
}
.react-datepicker__day--range-end .react-datepicker__inside-day {
    background-color: #f2f5f8;
}
.react-datepicker__day--range-start {
    /* background-color: #f2f5f8 !important; */
    border-bottom-left-radius: 9999px !important;
    border-top-left-radius: 9999px !important;
    display: flex;
    color: #01559b !important;
}
.react-datepicker__day--range-end {
    border-bottom-right-radius: 9999px !important;
    border-top-right-radius: 9999px !important;
    display: flex;
    color: #01559b !important;
}
.react-datepicker__day--selected.react-datepicker__day--range-start,
.react-datepicker__day--selecting-range-start {
    border-top-left-radius: 999px !important;
    border-bottom-left-radius: 999px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    transition: all 0.25s;
    color: #01559b !important;
    font-weight: 600;
}

.react-datepicker__day--keyboard-selected.react-datepicker__day--range-end,
.react-datepicker__day--selecting-range-end {
    border-top-right-radius: 999px !important;
    border-bottom-right-radius: 999px !important;
    /* border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important; */
    transition: all 0.25s;
    color: #01559b !important;
    font-weight: 600;
}

.react-datepicker__month {
    margin: 8px 16px;
}

.react-datepicker__day-names {
    padding: 0 16px;
}

.react-datepicker__day-name {
    width: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #4b5563;
    font-size: 13px;
}

.react-datepicker__header .react-datepicker__current-month {
    margin: 16px;
}

.react-datepicker__navigation {
    top: 16px;
}

.react-datepicker__navigation-icon::before {
    display: none;
}

.react-datepicker__navigation-icon {
    position: relative;
    width: 16px;
    height: 16px;
}

.react-datepicker__navigation-icon--next::after,
.react-datepicker__navigation-icon--previous::after {
    position: absolute;
    top: 0;
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.react-datepicker__navigation--previous {
    left: 24px;
}

.react-datepicker__navigation-icon--previous::after {
    background-image: url("/images/arrow-left.svg");
}

.react-datepicker__navigation--next {
    right: 16px;
}

.react-datepicker__navigation-icon--next::after {
    background-image: url("/images/arrow-right.svg");
}

.react-datepicker__current-month {
    font-size: 16px;
    color: #01559b;
    font-weight: 600;
    font-family: "SF UI Display", sans-serif;
}

.react-datepicker__day--outside-month {
    color: transparent;
    pointer-events: none;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--selected {
    background-color: transparent;
}

.react-datepicker__view-calendar-icon svg {
    display: none;
}

.react-datepicker__view-calendar-icon {
    position: relative;
}

.react-datepicker__view-calendar-icon::before {
    position: absolute;
    top: 0;
    content: "";
    width: 24px;
    height: 100%;
    display: block;
    background-image: url("/images/calendar.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    pointer-events: none;
}

.react-datepicker__view-calendar-icon input {
    padding: 6px 10px 5px 5px !important;
}
.icon-right .react-datepicker__view-calendar-icon::before {
    right: 5px;
}

.icon-right .react-datepicker__view-calendar-icon input {
    padding: 5px 10px 5px 5px !important;
}
.icon-left .react-datepicker__view-calendar-icon input {
    padding: 5px 10px 5px 25px !important;
}
.react-datepicker-wrapper {
    width: 100%;
}
input {
    outline-style: none;
    /* border-style: 1px solid #4b5563 !important; */
    border: 1px solid #e4e4e4;
    height: 37px;
    width: 100%;
}
input:focus {
    border: 1px solid #00adef;
}
